# Método Simples

In [23]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

In [24]:
#carregando o dataset

base = pd.read_csv('autos.csv', encoding='ISO-8859-1')

In [25]:
#removendo algumas colunas que não serão úteis

base = base.drop('dateCrawled', axis=1)
base = base.drop('dateCreated', axis=1)
base = base.drop('nrOfPictures', axis=1)
base = base.drop('postalCode', axis=1)
base = base.drop('lastSeen', axis=1)

In [26]:
#removendo outras colunas que possuem uma variabilidade muito grande

base['name'].value_counts()
base = base.drop('name', axis=1)

base['seller'].value_counts()
base = base.drop('seller', axis=1)

base['offerType'].value_counts()
base = base.drop('offerType', axis=1)

In [27]:
#removendo os valores inconsistentes

i1 = base.loc[base.price<=10]
base = base[base.price>10]

i2 = base.loc[base.price>350000]
base = base[base.price<350000]

In [28]:
#tratamento de dados ausentes

base.loc[pd.isnull(base['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [29]:
base['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [30]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [31]:
base['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [32]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [33]:
base['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [34]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [35]:
base['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [36]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [37]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [38]:
#substituindo os valores ausentes

valores = {
    'vehicleType': 'limousine',
    'gearbox': 'manuell',
    'model': 'golf',
    'fuelType': 'benzine',
    'notRepairedDamage': 'nein'
}

base = base.fillna(value=valores)

In [39]:
previsores = base.iloc[:, 1:13].values
preco_real = base.iloc[:, 0].values

In [40]:
#tranformando os dados categóricos em dados numéricos

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_previsores = LabelEncoder()
previsores[:, 0] = labelencoder_previsores.fit_transform(previsores[:, 0])
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 10] = labelencoder_previsores.fit_transform(previsores[:, 10])

In [41]:
#transformando os valores utilizando o onehotencoder

encoder2 = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0,1,3,5,8,9,10])],remainder='passthrough')
previsores = encoder2.fit_transform(previsores).toarray()

In [42]:
#criando a rede neural

regressor = Sequential()
regressor.add(Dense(units=158, activation='relu', input_dim=317))
regressor.add(Dense(units=158, activation='relu'))
regressor.add(Dense(units=1, activation='linear'))
regressor.compile(loss='mean_absolute_error', optimizer='adam',
                  metrics=['mean_absolute_error'])
regressor.fit(previsores, preco_real, batch_size=300, epochs=100)

/home/lucasarenhardt/.local/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4226.9438 - mean_absolute_error: 4226.9438
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3437.3345 - mean_absolute_error: 3437.3345
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3090.8633 - mean_absolute_error: 3090.8633
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2922.6875 - mean_absolute_error: 2922.6875
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2829.7412 - mean_absolute_error: 2829.7412
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2772.6750 - mean_absolute_error: 2772.6750
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2710.9109 - mean_absolute_error: 2710.9109
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2677.4985 - mean_absolute_error: 2677.4985
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2615.2524 - mean_absolute_error: 2615.2524
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2588.7783 - mean_absolute_error: 2588.7783
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2566.0769 - mean_absolute_error: 2566.0769
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2563.3311 - mean_absolute_error: 2563.3311
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2509.2700 - mean_absolute_error: 2509.2700
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2492.1128 - mean_absolute_error: 2492.1128
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2475.2979 - mean_absolute_error: 2475.2979
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2446.4956 - mean_absolute_error: 2446.4956
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2419.3179 - mean_absolute_error: 2419.3179
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2429.8613 - mean_absolute_error: 2429.8613
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2436.8447 - mean_absolute_error: 2436.8447
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2435.1274 - mean_absolute_error: 2435.1274
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2425.6172 - mean_absolute_error: 2425.6172
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2424.1338 - mean_absolute_error: 2424.1340
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2416.6042 - mean_absolute_error: 2416.6042
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2385.2925 - mean_absolute_error: 2385.2925
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2425.0684 - mean_absolute_error: 2425.0684
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2366.0122 - mean_absolute_error: 2366.0122
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2362.8931 - mean_absolute_error: 2362.8931
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2382.5789 - mean_absolute_error: 2382.5789
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2365.9702 - mean_absolute_error: 2365.9702
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2361.5725 - mean_absolute_error: 2361.5725
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2378.7087 - mean_absolute_error: 2378.7087
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2348.4036 - mean_absolute_error: 2348.4036
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2358.3137 - mean_absolute_error: 2358.3137
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2370.6182 - mean_absolute_error: 2370.6179
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2361.6150 - mean_absolute_error: 2361.6147
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2349.8850 - mean_absolute_error: 2349.8853
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2372.7012 - mean_absolute_error: 2372.7012
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2359.8223 - mean_absolute_error: 2359.8223
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2335.6980 - mean_absolute_error: 2335.6980
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2342.2356 - mean_absolute_error: 2342.2356
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2330.2998 - mean_absolute_error: 2330.2998
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2373.2988 - mean_absolute_error: 2373.2988
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2318.7415 - mean_absolute_error: 2318.7415
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2325.6858 - mean_absolute_error: 2325.6858
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2340.1240 - mean_absolute_error: 2340.1240
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2311.5325 - mean_absolute_error: 2311.5325
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2306.8562 - mean_absolute_error: 2306.8562
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2315.1040 - mean_absolute_error: 2315.1040
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2341.1519 - mean_absolute_error: 2341.1519
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2320.0237 - mean_absolute_error: 2320.0237
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2308.6394 - mean_absolute_error: 2308.6394
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2308.9287 - mean_absolute_error: 2308.9287
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2335.2712 - mean_absolute_error: 2335.2712
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2308.5354 - mean_absolute_error: 2308.5354
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2285.7161 - mean_absolute_error: 2285.7161
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2286.2197 - mean_absolute_error: 2286.2197
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2286.4487 - mean_absolute_error: 2286.4487
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2321.6187 - mean_absolute_error: 2321.6187
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2296.6660 - mean_absolute_error: 2296.6660
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2294.4758 - mean_absolute_error: 2294.4758
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2294.5981 - mean_absolute_error: 2294.5981
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2275.6699 - mean_absolute_error: 2275.6699
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2292.8894 - mean_absolute_error: 2292.8894
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2277.7593 - mean_absolute_error: 2277.7593
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2276.2832 - mean_absolute_error: 2276.2832
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2284.3796 - mean_absolute_error: 2284.3796
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2295.4285 - mean_absolute_error: 2295.4285
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2275.1997 - mean_absolute_error: 2275.1997
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2294.6716 - mean_absolute_error: 2294.6716
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2297.8267 - mean_absolute_error: 2297.8267
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2257.5132 - mean_absolute_error: 2257.5134
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2268.9553 - mean_absolute_error: 2268.9553
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2285.2224 - mean_absolute_error: 2285.2224
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2264.9395 - mean_absolute_error: 2264.9395
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2237.8621 - mean_absolute_error: 2237.8621
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2237.3135 - mean_absolute_error: 2237.3135
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2277.8401 - mean_absolute_error: 2277.8401
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2262.6021 - mean_absolute_error: 2262.6021
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2244.8376 - mean_absolute_error: 2244.8376
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2277.2358 - mean_absolute_error: 2277.2358
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2263.9937 - mean_absolute_error: 2263.9937
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2269.7900 - mean_absolute_error: 2269.7900
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2262.2112 - mean_absolute_error: 2262.2112
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2259.9185 - mean_absolute_error: 2259.9185
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2255.9275 - mean_absolute_error: 2255.9275
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2239.1912 - mean_absolute_error: 2239.1912
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2259.5911 - mean_absolute_error: 2259.5911
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2258.6548 - mean_absolute_error: 2258.6548
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2260.1116 - mean_absolute_error: 2260.1118
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2255.2273 - mean_absolute_error: 2255.2273
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2230.1978 - mean_absolute_error: 2230.1978
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2240.5376 - mean_absolute_error: 2240.5376
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2254.2473 - mean_absolute_error: 2254.2473
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2252.3171 - mean_absolute_error: 2252.3174
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2246.2903 - mean_absolute_error: 2246.2903
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2220.8328 - mean_absolute_error: 2220.8328
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2227.2888 - mean_absolute_error: 2227.2888
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2249.5081 - mean_absolute_error: 2249.5081
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2223.7461 - mean_absolute_error: 2223.7461
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2246.1602 - mean_absolute_error: 2246.1602

In [43]:
previsoes = regressor.predict(previsores)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 4s 398us/step

In [44]:
preco_real.mean()

5916.833945186492

In [45]:
previsoes.mean()

5607.0454